.parent__home {
    display: flex;
    flex-direction: column;
    border-top: 5px solid #A7BC5B;

}

.banner__child {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.info__child {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid #A7BC5B;
}

.service__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 700px;
    margin-left: 50px;
    padding-left: 50px;

}

p {
    margin: 50px;
    margin-top: 0px;
    text-align: left;
}

h4 {
    margin: 0px;
}

.icon__row {
    display: flex;
}