/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Alegrey|Questrial");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #000000;
  font-family:  'Questrial', Sans-Serif;
  font-size: 20px;
  line-height: 1.5;
  background-image: linear-gradient(#C39EA0, #F8E5E5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  color: #F8E5E5;
  color: #000000;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

/* footer {
  background-color: #F8E5E5;
} */

/* color pallete
#000000
#FA255E
#C39EA0
#F8E5E5 */