.nav__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 40px    
}

.nav__flex__bar {
    margin: auto 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.logo {
    width: 225px;
    margin: 20px 50px;
}
